{% extends "base.html" %}

{% block content %}
<div class="container">
  <h2 class="title">Contact Us</h2>
  <form action="/contact" method="post">
    <label class="label">{{form.name.label}}</label>
    {{form.name(class="input is-danger")}}
    <label class="label">{{form.email.label}}</label>
    {{form.email(class="input is-danger")}}
    <label class="label">{{form.products.label}}</label>
    <div class="select is-danger">
      {{form.products()}}
    </div>
    <input class="button is-success" type="submit" value="Submit">
  </form>
  <a href="/">Home</a>
</div>
{% endblock %}